.categories-header h1 {
    color: 	#404040;
}




.veg {
    background-color: #606060;
    color: white;
}

.fruits {
    background-color: #606060;
    color: white;
}

.grain {
    background-color: #606060;
    color: white;
}

.frozen {
    background-color: #606060;
    color: white;
}

.btn {
    background-color: #606060;
}

.grocery-list-category.btn a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.mis {
    background-color: #606060;
    color: white;
}

.grocery-list-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    max-width: 1200px;
    flex-direction: column;
    padding-bottom: 10px;
}

.add-cat-button {
  background: white;
  border: 3px #929497 solid;
  box-shadow: 0 3px #929497;
  border-radius: 10px;
  height: 30px;
  width: 110px;
  margin: 10px;
  
}

.add-cat-button:hover {
    color: white;
    background: #D0D0D0
}

.add-cat-button a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.grocery-list-category {
  margin: 15px 2.5%;
  max-width: 1200px;
  padding: 50px;
  flex-basis: 45%;
  box-sizing: border-box;
  border-radius: 20px;
}
.categories-1-2,
.categories-3-4,
.categories-5 {
  flex: 1;
}






@media screen and (min-width: 767px) {
    .grocery-list-categories {
        flex-direction: row;
    }

    header.categories-header {
        padding: 45px;
    }

    
   
}

