.credentials-section {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    padding: 30px;
    border-radius: 20px;
    align-items: center;
    margin-top: 2%;
    background: #d4cdcb;
}

.create-account {
    padding: 15px;
    font-size: 25px;
}

.login-form-input {
    border-radius: 20px;
    padding: 5px;
    width: 90%;
}

.login-sign-in {
    padding: 12px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #595a5c;
    color: white;
    cursor: pointer;
}

.login-username,
.login-password {
    font-size: 20px;
    padding: 5px;
    color: #3d405b;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    color: #3d405b;
}

.login-form h1 {
    margin-top: 25px;
}

.create-an-account {
    padding: 15px;
}

.register-button,
.logout-button,
.login-button {
    border: none;
    background: none;
    font-size: 25px;
    color: #3d405b;
    padding: 0;
}

register-button:hover,
.logout-button:hover,
.login-button:hover {
    color: #312f29;
}