    * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    .delete-button,
    .edit-button,
    .close-button {
        margin: 5px;
        padding: 5px;
        font-size: 15px;
        margin-top: 15px;
        border-radius: 10px;
        background-color: #606060;
        border: 3px #606060 solid;
        box-shadow: 0 3px 0 #606060;
        color: white;
        cursor: pointer;
    }
    /* Todolist / main todos page */
    
    .completed-check-logo {
        position: relative;
        bottom: 25px;
        left: 5px;
        font-size: 30px;
        color: white;
    }
    
    .create-list-button {
        padding: 10px;
        font-size: 15px;
        margin-top: 15px;
        border-radius: 20px;
        background-color: #606060;
        border: 3px #606060 solid;
        box-shadow: 0 3px 0 #606060;
        cursor: pointer;
        transition: all 0.1s linear;
        color: white;
    }
    
    .create-list-button:active {
        color: white;
        box-shadow: 0 3px 0 #606060;
        transform: translateY(3px);
    }
    
    .create-list-button a {
        color: white;
    }
    
    .create-list-button a {
        text-decoration: none;
        color: white;
    }
    
    .pending-lists ul a {
        text-decoration: none;
    }
    
    .completed-lists,
    .pending-lists a:link {
        color: white;
        margin: 2px;
    }
    
    .completed-lists ul a {
        text-decoration: none;
    }
    
    .edit-delete-lists {
        display: inline-block;
        padding: 10px;
    }
    
    .GroceryList,
    .view-lists {
        flex: 1;
    }
    
    .main-lists {
        background: white;
        text-align: center;
        display: flex;
    }
    
    .inactive-form {
        display: none;
    }
    
    ul li {
        padding: 10px;
        list-style-type: none;
        border-radius: 20px;
        margin: 10px;
        background-color: #606060;
    }
    
    .list-textbox {
        padding: 5px;
        border: #606060 2px solid;
        border-radius: 10px;
        width: 75%;
        margin: 0 auto;
        margin-top: 5%;
    }
    
    ul {
        padding-left: 0;
    }
    
    .view-lists {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .view-list-task {
        border: #606060 2px solid;
        background: #606060;
        border-radius: 20px;
        margin-top: 30px;
        width: 85%;
    }
    
    .view-list-category {
        color: white;
    }
    
    .list-details,
    .list-checkbox,
    .edit-delete-lists {
        margin-top: 10px;
    }
    
    .list-textbox {
        background: white;
        height: 20px;
    }
    
    .checkmark {
        height: 15px;
        width: 15px;
        background-color: #eee;
    }
    
    .checkmark p {
        font-size: 20px;
    }
    
    .list-checkbox {
        display: flex;
        justify-content: center;
    }
    /* Modal styling */
    
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        color: white;
    }
    
    .modal-main {
        color: white;
        position: fixed;
        background: #606060;
        width: 80%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .modal-main h2 {
        margin-top: 25px;
    }
    
    .display-block {
        display: block;
    }
    
    .display-none {
        display: none;
    }
    /* Edit form */
    
    .edit-lists {
        justify-content: center;
        justify-content: space-between;
    }
    
    .edit-form {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px;
    }
    
    .edit-list-input {
        margin: 2px;
        color: white;
        border-radius: 20px;
        padding: 5px;
        width: 90%;
    }
    
    .edit-price-input {
        margin: 5px;
        border-radius: 20px;
        padding: 5px;
        width: 90%;
    }
    
    .edit-weight-input {
        margin: 2px;
        border-radius: 20px;
        padding: 5px;
        width: 90%;
    }
    
    .edit-note-input {
        margin: 5px;
        border-radius: 20px;
        padding: 5px;
        width: 90%;
        height: 100px;
    }
    
    .edit-list-label {
        color: white;
        font-size: 20px;
        padding: 5px;
    }
    
    .edit-section {
        height: 50vh;
        margin: auto;
        width: 100%;
        border: #606060 2px solid;
        background: #606060;
        border-radius: 20px;
        padding: 15px;
    }
    
    .edit-list-button {
        margin: 5px;
        padding: 5px;
        font-size: 15px;
        margin-top: 15px;
        border-radius: 10px;
        background-color: #606060;
        border: 3px white solid;
        box-shadow: 0 3px 0 #606060;
        color: white;
        cursor: pointer;
    }
    /* Features / get started homepage */
    
    .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #606060;
        padding: 150px;
    }
    
    .features-p {
        width: 45%;
        border: white 2px solid;
        border-radius: 20px;
        padding: 50px;
        margin: 15px;
        color: white;
    }
    
    .homepage-features {
        display: flex;
    }
    
    .features-check,
    .features-update,
    .features-star {
        font-size: 80px;
        color: white;
    }
    /* Footer */
    
    .footer {
        border: white 2px solid;
        background-color: #606060;
        color: white;
        height: 25px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    @media screen and (min-width: 320px) and (max-width: 2000px) {
        .homepage-features {
            display: flex;
        }
        .features {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color: #606060;
            padding: 75px;
        }
        p {
            color: white;
        }
        .features-p {
            border: white 2px solid;
            padding: 77px;
            margin: 15px;
            width: 100%;
            color: white;
        }
    }
    
    @media screen and (min-width: 320px) and (max-width: 768px) {
        header {
            padding: 50px;
        }
        .features {
            padding: 122px;
        }
    }
    
    @media screen and (min-width: 320px) and (max-width: 425px) {
        .register-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: grey 2px solid;
            width: 80%;
            padding: 50px;
            border-radius: 20px;
            margin-top: 10%;
        }
    }